body {

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;

}

header {

  margin-bottom: 30px;

}

nav a {

margin-right: 15px;

}

.dashbord-card {

  display: inline-block;
  width: 200px;
  padding: 20px;
  margin: 10px; 
  border-right: 1px solid #ddd;
  border-radius: 8px;

}


form {
 
  max-width: 500px;
  

}


form label {

  display: block;
  margin-bottom: 5px;

}


form input {

  display: block;
  width: 100%;
  padding: 100px;
  margin-bottom: 15px;
  box-sizing: border-box;

}

form button {

  padding: 10px 20px;
  cursor: pointer;

}